<!-- Binding classes dynamically to a tag 
 The '' are mandatory to write '-' char-->
<!-- The [...] permit to bind properties with ts codes -->
<div [class]="{
    status: true,
    'status-online': currentStatus === 'online',
    'status-offline': currentStatus === 'offline',
    'status-unknown': currentStatus === 'unknown'
}">

    @if (currentStatus === 'online') {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
    } @else if (currentStatus === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
    } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
    }

</div>